
.dropbtn {
  opacity: 0;
  width: 5vw;
  height: 5vw;
  position: relative;
  top: 10%;
  size: 3vw;
  margin: auto;
  border: none;
   animation: btnInicio 9s;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;

  -webkit
  -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;  
  z-index: 10;
  background: black;
}

/* Contenedor div <div> - necesario para posicionar el contenido dropdown */
.dropdown {
  top: 90%;
  left: 5%; 
  position: fixed;
  display: block;
  height: 10vw;
  width: 95vw;
  z-index: 20;

}

/* Contenido DropDown (Oculto por defecto) */



.dropdown-content {
    position: absolute;
    top: 0;
    left: -110vw;
    width: 40vw;
    height: 5vh;
    
    animation: slide 2s forwards;
     -webkit-animation-delay: 7s;
    animation-delay: 7s;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
}



/* Links dentro del Dropdown */
.dropdown-content a {
  opacity: .7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(200,200,200);
  text-decoration: none;
  display: inline-block;
  text-align: center;
  z-index: -1;

}

/* Cambiar el color del dropdown con hover */
.let{
  font-weight: normal;
font-size: .5vw;}
.Letra1, .Letra2, .Letra3{
  opacity: 0;
   animation: btnInicio 4s;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
  font-size: .5vw;
  font-weight: bolder;
}
.dropdown-content a:hover .Letra1 {
  color: rgb(17,191,209);
}
.dropdown-content a:hover .Letra2 {
  color: rgb(227,16,78);
}
.dropdown-content a:hover .Letra3{
  color: rgb(249,173,1);
}



/* Cambiar el contenido de fondo del dropdow cuando se muestra*/

.let{
  font-weight: normal;
font-size:1vw;}

.Letra1, .Letra2, .Letra3{
  opacity: .2;
  font-size: 1vw;
  font-weight: bolder;
}


div.dropdown img{
    position: absolute;
    width: 4.2vw;
    height: auto;
    top : -10%;
    opacity: .2;
  }
.dropdown:hover img {
  -webkit-filter: brightness(100%); 
  transition-duration: .5s;
  opacity: 1;
} 

@keyframes btnInicio{
  0%{
    opacity: 0;
    transform: rotate(45deg);
  }
  75%{
    opacity: 0;
    transform: rotate(45deg);
  }
  100%{
    opacity: 1;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes slide {
    100% { left: 5%; }
}

@keyframes slide {
    100% { left: 5%; }
}