@media screen and ( min-width: 950px){

html { 
  overflow:hidden;
  background: rgb(249,189,210);   
}
.fondo{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-bottom: -50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.fondo img{
  width: 65vw;
  height: auto;
  position: fixed;
  top: 60%;
  left: 65%;
  margin-right: -50%;
  margin-bottom: -50%;
  transform: translate(-50%, -50%);
   z-index: -1;
}
.texto{
  position:fixed;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4vw;
    width:  30vw;
    height: 40vw;
    line-height: 2.1vw;
    text-justify: inter-character;
    color: rgb(255,255,255);
    z-index: 1;
    top: 20%;
    left: 15%;
    transition-timing-function: ease-in-out;
    font-weight: normal;
    z-index: 11;
}
.texto h2{
  font-size: 2.5vw;
  font-weight: normal;
}
.texto span{
  font-weight: bolder;
}
.header{
   position: absolute;
    display: none;
      left: 20vw;
      width: 50vw;
      z-index: 0;
      top: 0%;
      background: red;
}
.nav{
  position: absolute;
    left: 75vw;
    width: 70vw;
  top: 0%;
   background: red;
}
 
.nav ul {
  top: 0;
  position: absolute;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.ul2{
  top: 0%;
  right: 78%;
  position: absolute;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  position: relative;
  top: 0% 
  width: 1vw;
}
.nav a {
  opacity: 0.4;
  top: 0;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  opacity: 1;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

#block1 { 
  position: fixed;
  top :71%;
  left:46%;
  width:  4vw;
  height: 8vh;

  overflow: hidden;

}
#block2 { 
  position: fixed;
  top :60%;
  left:54%;
  width:  4.5vw;
  height: 12vh;

  overflow: hidden;

}
#block3 { 
  position: fixed;
  top :50%;
  left:60%;
  width:  4.5vw;
  height: 12vh;

  overflow: hidden;

}

#block4 { 
  position: fixed;
  top :42%;
  left:65%;
  width:  4.5vw;
  height: 8vh;

  overflow: hidden;

}
#block5 { 
  position: fixed;
  top :35%;
  left:68%;
  width:  4.5vw;
  height: 10vh;

  overflow: hidden;
}

#block6 { 
  position: fixed;
  top :71%;
  left:50%;
  width:  4vw;
  height: 8vh;

  overflow: hidden;

}
#block7 { 
  position: fixed;
  top :65%;
  left:50%;
  width:  3.5vw;
  height: 6vh;

  overflow: hidden;

}
#block8 { 
  position: fixed;
  top :60%;
  left:59%;
  width:  4.5vw;
  height: 12vh;

  overflow: hidden;

}
#block9 { 
  position: fixed;
  top :49%;
  left:64%;
  width:  4.5vw;
  height: 12vh;

  overflow: hidden;

}

.pepas img {
  position:relative; 
  top: 0;
  left: 0;
  height: 1vw;
  width: auto;
}

  .nav li {
    top: 0;
    width: 2vw;
    border-bottom: none;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    top: 0;
    display: inline-block;
    margin-right: -1.5vw;
    width: 5vw;
  }
.pes{
  position: absolute;
  top:0%;
  left:15%;
  width: 20vw;
  height:10vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6vw;
}
.bold{
  font-size: 2vw;
  font-weight: bolder;
}
div.pes .p1, div.pes .p2, div.pes .p3{
  position: absolute;
  top:  -15%;
  left: 0%;
  color: white;
  opacity: 0;
}
#elem1.running {
animation: encima .3s;
animation-fill-mode: forwards;
}
#elem2.running {
animation: encima .3s;
animation-fill-mode: forwards;
}
#elem3.running {
animation: encima .3s ;
animation-fill-mode: forwards;
}
#elem1.derunning {
  animation: desencima .3s;
  animation-fill-mode: forwards;
}
#elem2.derunning {
  animation: desencima .3s;
  animation-fill-mode: forwards;
}
#elem3.derunning {
  animation: desencima .3s;
  animation-fill-mode: forwards;
}
@keyframes encima {
0%{
  opacity: 0;
} 
100% { opacity: 1;
  } 
}
@keyframes desencima { 
0%{
  opacity: 1;
} 
100% { opacity: 0;
  } 
}




}
@media screen and ( max-width: 950px){

html { 
  overflow:hidden;
  background: rgb(249,189,210);   
}
.fondo{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-bottom: -50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.fondo img{
  width: 120vw;
  height: auto;
  position: fixed;
  top: 72%;
  left: 73%;
  margin-right: -50%;
  margin-bottom: -50%;
  transform: translate(-50%, -50%);
   z-index: -1;
}
.texto{
  position:fixed;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    width:  60vw;
    height: 50vw;
    line-height: 11px;
    text-justify: inter-character;
    color: rgb(255,255,255);
    z-index: 1;
    top: 25%;
    left: 18%;
    transition-timing-function: ease-in-out;
    font-weight: normal;
    z-index: 11;
}
.texto h2{
  font-size: 14px;
  font-weight: normal;
}
.texto span{
  font-weight: bolder;
}


.header{
   position: absolute;
    display: none;
      left: 20vw;
      width: 50vw;
      z-index: 0;
      top: 90%;
      background: red;
}
.nav{
  position: absolute;
    left: 5vw;
    width: 90vw;
    height: 100vw;
  top: 65%;

}
 

.nav ul {
  top: 0%;

  position: absolute;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: block;
}

.ul2{
  top: 80%;
  right: 10%;
  position: absolute;
  list-style: none;
  text-align: center;
  display: block;
}
.nav li {
  position: relative;
  top: 0% 
  width: 1vw;
}
.nav a {
  opacity: 0.4;
  top: 0;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  width: 10px;
}
 .nav img{
  width: 35px;
 }
.nav a:hover {
  opacity: 1;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}



#block1 { 
  position: fixed;
  top :79%;
  left:36%;
  width:  4vw;
  height: 8vh;

  overflow: hidden;

}
#block2 { 
  position: fixed;
  top :73%;
  left:54%;
  width:  4.5vw;
  height: 12vh;

  overflow: hidden;

}
#block3 { 
  position: fixed;
  top :70%;
  left:60%;
  width:  4.5vw;
  height: 12vh;

  overflow: hidden;

}

#block4 { 
  position: fixed;
  top :62%;
  left:73%;
  width:  4.5vw;
  height: 8vh;

  overflow: hidden;

}
#block5 { 
  position: fixed;
  top :65%;
  left:72%;
  width:  4.5vw;
  height: 10vh;

  overflow: hidden;
}

#block6 { 
  position: fixed;
  top :77%;
  left:60%;
  width:  4vw;
  height: 8vh;

  overflow: hidden;

}
#block7 { 
  position: fixed;
  top :65%;
  left:79%;
  width:  3.5vw;
  height: 6vh;

  overflow: hidden;

}
#block8 { 
  position: fixed;
  top :60%;
  left:69%;
  width:  4.5vw;
  height: 12vh;

  overflow: hidden;

}
#block9 { 
  position: fixed;
  top :60%;
  left:64%;
  width:  4.5vw;
  height: 12vh;

  overflow: hidden;

}

.pepas img {
  position:relative; 
  top: 0;
  left: 0;
  max-height: 8px;
}

.pes{
  opacity: 0;
}

}